---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1938120293103904";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<article class="post">
  <h1>{{ page.title }}</h1>
  <hr />
{% assign author = site.data.authors[page.author] %}
{% if author %}
<span>
  <b>Author</b> : <a href="{{ author.profile }}" target="_blank">@{{ author.name }}</a>
</span>
{% endif %}
  <br />
  <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> 
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/RAVINDERPAYAL?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @RAVINDERPAYAL</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
  <g:plusone></g:plusone>

  <div class="entry">
    {{ content }}
  </div>
<div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> 
<br />
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/RAVINDERPAYAL?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @RAVINDERPAYAL</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
  <g:plusone></g:plusone>
  
  <ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-format="fluid"
     data-ad-layout="in-article"
     data-ad-client="ca-pub-3201220427379470"
     data-ad-slot="2921542940"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*var disqus_config = function () {
this.page.url = '{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{page.page_id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};*/

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-ravinderpayal-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> 
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-format="fluid"
     data-ad-layout="in-article"
     data-ad-client="ca-pub-3201220427379470"
     data-ad-slot="2921542940"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</article>
